/* Muốn thêm CSS ghi đè lên trang web thì code vào file này */
.notify-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao bằng viewport height */
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #2d8cf0 !important;
}

.notify-block h1 {
    font-size: 50px;
    color: #ffffff !important;
}