.notify-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #2d8cf0;
}

.notify-block h1 {
    font-size: 50px;
    color: #ffffff;
}